*{
	margin:0;
	padding:0;
	font-family:'poppins';sans-sarif;
	box-sizing:border-box;
}

nav
{
	position: fixed;
	background: #1b1b1b;
	width: 100%;
	padding: 10px 0;
	z-index: 12;
	height: 5%;
}

ul
{
	float:right;
	list-style-type:none;
}
ul li
{
	display : inline-block;
}
ul li a
{
	text-decoration :none;
	color : #fff;
	padding : 5px 20px;
	border : 1px solid transparent;
	transition : 0.6s ease;
}
ul li a:hover
{
	background-color : #fff;
	color : #000;
	font-size: 35px;
    font-weight: 600;
	
}
ul li.active a
{
	background-color : #fff;
	color : #000;
	font-size: 35px;
    font-weight: 600;
}
.hero
{
	width:100%;
	height:100%;
	background-image: url("background.jpg"); 
	background-position:center;
	background-size:cover;
	display:flex;
	align-items:center;
	justify-content:center;
}
form
{
	width:100%;
	max-width:600px;
}
.input-group
{
	margin-bottom:30px;
	position: relative;
}
input, textarea
{
	width:100%;
	padding:10px;
	outline:0;
	border:1px solid #fff;
	color:#fff;
	background:transparent;
	font-size:20px;
}
label
{
	height: 100%;
	position:absolute;
	left:0;
	top:0;
	padding:10px;
	color:#fff;
	cursor:text;
}
button
{
	padding: 10px 0;
	color: black;
	outline: black;
	background: transparet;
	border:1px solid #fff;
	width: 100%;
	cursor: pointer;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label
{
	top:-35px;
	font-size: 14px;
}
.row
{
	display:flex;
	align-itemscenter;
	justify-content:space-between;
}
.row.input-group
{
	flex-basis:48%;
}
